* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #plano-de-fundo {
    background-image: url(plano-de-fundo.jpg);
  }
  :root {
    --header-color: rgb(50, 167, 145);
    --primary-color: rgb(253, 253, 253);
    --color-text: white;
    --border-color: rgb(43, 177, 152);
    --button-color: rgb(78, 1, 133);
    --background-input: white;
    --img-shadow: #000;
  }
  
  .dark {
    --primary-color: rgb(27, 27, 27);
    --color-text: white;
    --border-color: rgb(130, 252, 229);
    --button-color: rgb(149, 36, 230);
    --img-shadow: rgb(130, 252, 229);
  }
  
  body {
    background-color: var(--primary-color);
    color: white;
    transition: background 0.7s;
  }
  
  input {
    border: 1px solid var(--border-color);
    border-radius: 7px;
    padding: 5px;
  }
  
  select {
    background-color: var(--border-color);
    border-radius: 7px;
    padding: 5px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--header-color);
    width: 100%;
    padding: 10px;
  }
  
  .trybewarts-header-logo {
    height: 50px;
  }
  
  #trybewarts-header-title {
    font-size: 40px;
  }
  
  .trybewarts-login {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  
  .btn {
    display: flex;
  }
  
  #btn-login {
    cursor: pointer;
    border-radius: 7px;
    padding: 7px;
    border: var(--border-color);
    background-color: var(--button-color);
    color: var(--color-logo);
  }
  
  #icon {
    width: 20px;
    margin: 5px;
    cursor: pointer;
    transition: all 2s;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 auto;
  }
  
  #evaluation-form {
    display: flex;
    flex-flow: column wrap;
    width: 675px;
    padding: 40px 70px;
    margin: 20px 0;
  }
  
  #evaluation-form h1 {
    font-size: 25px;
    margin-bottom: 20px;
    color: var(--color-text);
  }
  
  .container {
    display: flex;
    gap: 10px;
  }
  
  .container input {
    flex-grow: 1;
  }
  
  hr {
    border: 1px solid var(--border-color);
    margin: 10px 0;
  }
  
  .section {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px 0;
  }
  
  #trybewarts-forms-logo {
    height: 500px;
    margin: auto 0;
  }
  
  .radio-checkbox {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 10px;
    justify-content: space-between;
    margin: 5px 0;
  }
  
  .container-of-inputs {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .check {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }
  
  .check div {
    width: 30%;
  }
  
  #label-family,
  #label-content,
  #label-rate,
  #label-house,
  .textarea {
    font-weight: 600;
    color: var(--color-text);
  }
  
  #label-family,
  #label-content {
    margin-bottom: 10px;
  }
  
  .avaliacao {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
    margin: 10px 0;
  }
  
  .radio {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  
  #textarea {
    width: 100%;
    resize: none;
    margin-top: 5px;
    border: 1px solid var(--border-color);
  }
  
  .input,
  .textarea {
    background: none;
    color: var(--color-text);
  }
  
  #counter {
    align-self: flex-end;
  }
  
  #submit-btn {
    border-radius: 5px;
    margin-top: 5px;
    padding: 5px;
    background-color: var(--button-color);
    color: var(--color-text);
  }
  
  #submit-btn:disabled {
    background-color: rgb(160, 160, 160);
    cursor: not-allowed;
  }
  
  #form-data {
    display: flex;
    flex-direction: column;
    margin: auto 15px;
    font-size: 20px;
    
  }
  
  .filterShadow {
    filter: drop-shadow(0.45em 0.45em 0.5em var(--img-shadow));
  }
  
  footer {
    width: 100%;
    text-align: center;
    font-weight: 500;
    background-color: rgb(78, 78, 78);
    height: 30px;
    color: white;
    padding: 10px;
    bottom: 0;
    position: fixed;
  }
  
  @media screen and (max-width: 740px) {
    .header {
      flex-direction: column;
      gap: 10px;
    }
  
    .trybewarts-login {
      flex-direction: column;
    }
  
    .trybewarts-header-logo {
      height: 30px;
    }
  
    #trybewarts-header-title {
      font-size: 30px;
    }
  
    #btn-login {
      flex-grow: 1;
    }
  
    #trybewarts-forms-logo {
      height: 400px;
      margin-bottom: 60px;
    }
  }
  
  @media screen and (max-width: 460px) {
    main {
      margin: 0 auto;
    }
  
    .container {
      flex-direction: column;
    }
  }
  Footer
  © 2022 GitHub, Inc.
  Footer navigation
  Terms
  Privacy
  Security
  Status
  Docs
  Contact GitHub
  Pricing
  API
  Training
  Blog
  About

  
  